---
import Header from "../../core/components/Header.astro";
import Footer from "../../core/components/Footer.astro";
import Hero from "../componentes/Hero.astro";
---

<main class="flex flex-col max-w-[720px] mx-auto">
  <Header />
  <Hero class="" />
  <Footer />
</main>
