---
import Header from "../../core/components/Header.astro";
import Footer from "../../core/components/Footer.astro";
import Hero from "../componentes/Hero.astro";
import Testimonials from "../../core/components/Testimonials.astro";
---

<main class="flex flex-col mx-auto">
  <div class="bg-black rounded-b-xl bg-cover bg-center w-full">
    <Header />
    <Hero />
  </div>

  <Footer />
</main>
