---
import Header from "../../core/components/Header.astro";
import Footer from "../../core/components/Footer.astro";
import Hero from "../componentes/Hero.astro";
---

<main class="flex flex-col mx-auto">
  <div class="bg-black bg-cover bg-center w-full">
    <Header />
    <Hero/>
  </div>
  
  <Footer />
</main>
