---
import Header from "../../core/components/Header.astro";
import Footer from "../../core/components/Footer.astro";
import Hero from "../componentes/Hero.astro";
import Testimonials from "../componentes/Testimonials.astro";
import Services from "../componentes/Services.astro";
import Benefits from "../componentes/Benefits.astro";
import Faqs from "../componentes/Faqs.astro";
import ContactForm from "../componentes/ContactForm.astro";
---

<main class="flex flex-col mx-auto">
  <div
    class="bg-[url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExZDdiZDNyODR0amp6dGhiOTdrenljN2pmengwdGFtZG1kZWxpYjNuNSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/LRg9gfVZkT7plNE24K/giphy.webp)] bg-fixed bg-cover bg-center w-full h-screen"
  >
    <div class="bg-black/60 h-full flex flex-col">
      <Header />
      <Hero />
      <Testimonials />
    </div>
  </div>
  <Services />
  <div class="bg-[#EBEBEB]"><Benefits /></div>
  <div class="bg-black"><ContactForm/></div>
  <Faqs/>
  
  <Footer />
</main>
