---
const { client } = Astro.props;
---

<a
  href={client.isArchived
    ? `/admin/applications/archived/${client.$id}`
    : `/admin/applications/${client.$id}`}
  class="bg-white border border-gray-200 hover:bg-neutral-50 cursor-pointer transition-all duration-300 col-span-1 row-span-1 p-4 w-full mx-auto flex items-center justify-between"
>
  <div class="flex items-center gap-4">
    <div
      class="w-12 h-12 border border-gray-200 rounded-full flex items-center justify-center"
    >
      <i class="fas fa-user text-gray-400 text-xl"></i>
    </div>
    <div>
      <h3 class="text-sm xl:text-lg font-medium text-gray-900">
        {`${client.name} ${client.lastname}`}
      </h3>
    </div>
  </div>
</a>
