---
import Footer from "@/src/core/components/Footer.astro";
import Header from "@/src/core/components/Header.astro";
import Layout from "@/src/core/Layout.astro";
import { databases } from "@/src/lib/appwrite";
import { Query } from "appwrite";

const { slug } = Astro.params;

if (!slug) {
  return Astro.redirect("/blog");
}

const { documents } = await databases.listDocuments(
  import.meta.env.PUBLIC_APPWRITE_DB,
  import.meta.env.PUBLIC_APPWRITE_POSTS,
  [Query.equal("slug", slug)]
);

const post = documents[0];
---

<Layout title={post.title}>
  <Header />
  <container class="min-h-[80vh] block w-1/2 py-20 mx-auto">
    <article class="prose lg:prose-xl mx-auto">
      <h1 class="text-5xl font-bold mb-4">{post.title}</h1>
      <time
        datetime={new Date(post.$createdAt).toISOString()}
        class="block text-gray-500 mb-4"
        >Publicado el {new Date(post.$createdAt).toLocaleDateString()}</time
      >
      <div class="prose">
        <Fragment set:html={post.content} />
      </div>
    </article>
  </container>
  <Footer />
</Layout>
