---
import { Button } from "@/src/core/components/button";
import Footer from "@/src/core/components/Footer.astro";
import Layout from "@/src/core/Layout.astro";
import { databases } from "@/src/lib/appwrite";

const { documents: posts } = await databases.listDocuments(
  import.meta.env.PUBLIC_APPWRITE_DB,
  import.meta.env.PUBLIC_APPWRITE_POSTS
);

const { user } = Astro.locals;
---

<Layout title="Sobre Nosotros">
  <content class="block w-1/2 py-20 mx-auto">
    <div class="flex items-center justify-between">
      <h1 class="text-5xl font-bold">Blog</h1>
      {
        user && (
          <a href="/blog/new">
            <Button variant="outline">Crear</Button>
          </a>
        )
      }
    </div>
    <ul class="py-12">
      {
        posts.map(post => (
          <li class="mb-8 border-b border-gray-200 hover:bg-neutral-50 flex">
            <a href={`/blog/${post.slug}`} class="flex-1 p-4">
              <h3 class="text-2xl font-semibold mb-2">{post.title}</h3>
              <time
                datetime={new Date(post.$createdAt).toISOString()}
                class="block text-black/40 mb-4"
              >
                Publicado el {new Date(post.$createdAt).toLocaleDateString()}
              </time>
              <p>{post.description}</p>
            </a>
            {/* <div class="text-red-500 w-4  flex justify-center items-center cursor-pointer">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-auto"
                viewBox="0 0 384 512"
              >
                <path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z" />
              </svg>
            </div> */}
          </li>
        ))
      }
    </ul>
  </content>
  <Footer />
</Layout>
