---
import { FormPost } from "@/src/Blog/FormPost";
import Footer from "@/src/core/components/Footer.astro";
import Header from "@/src/core/components/Header.astro";
import Layout from "@/src/core/Layout.astro";
// import { ID } from "appwrite";
// import { databases } from "@/src/lib/appwrite";

// if (Astro.request.method === "POST") {
//   const formData = await Astro.request.formData();
//   const data = {
//     title: formData.get("title"),
//     slug: formData.get("slug"),
//     content: formData.get("content"),
//     description: formData.get("description"),
//   };

//   const result = await databases.createDocument(
//     import.meta.env.app_write_db_blog,
//     import.meta.env.app_write_collection_posts,
//     ID.unique(),
//     data
//   );

//   return Astro.redirect(`/blog/${result.slug}`);
// }
---

<Layout title="Sobre Nosotros">
  <Header />
  <content class="min-h-[80vh] block w-1/2 py-20 mx-auto">
    <section>
      <h1 class="text-5xl font-bold">Crear Post</h1>
      <FormPost client:load />
    </section>
  </content>
  <Footer />
</Layout>
