---
const { href, icon, text } = Astro.props;
---

<a
  href={href}
  class="bg-white border border-gray-200 hover:bg-neutral-50 cursor-pointer transition-all duration-300 p-4 flex flex-col items-center gap-2"
>
  <div class="w-12 h-12 rounded-full flex items-center justify-center">
    <i class={icon} class="text-gray-400 text-xl"></i>
  </div>
  <span class="text-sm font-medium text-gray-900">{text}</span>
</a>
