---
import Layout from "@/src/core/Layout.astro";
import ClientCard from "@/src/pages/admin/requests/_components/ClientCard.astro";
import { databases } from "@/src/lib/appwrite";
import { Query } from "node-appwrite";

const clients = await databases
  .listDocuments(
    import.meta.env.PUBLIC_APPWRITE_DB,
    import.meta.env.PUBLIC_APPWRITE_REQUESTS,
    [Query.equal("isClient", false)]
  )
  .then(res => res.documents);

console.log(clients);
---

<Layout>
  <main
    class="flex flex-col gap-4 min-h-[85vh] p-4 md:w-8/12 lg:w-6/12 mx-auto"
  >
    <h2 class="text-2xl text-center py-6">Solicitudes</h2>
    {clients.map(client => <ClientCard client={client} />)}
  </main>
</Layout>
