---
import CitiesSelect from "../componentes/ContactForm/CitiesSelect";
---

<section
  class="py-20 bg-neutral-950 flex items-center justify-center px-4 sm:px-6 lg:px-8"
>
  <div class="bg-transparent rounded-lg px-8 w-full max-w-lg">
    <div class="mb-8 text-center">
      <h1 class="text-3xl font-extrabold text-white">¡Hablemos!</h1>
      <p class="mt-2 text-white">
        Envía tus datos para que nos pongamos en contacto y recibas información
        detallada.
      </p>
    </div>
    <form action="#" class="space-y-6">
      <!-- Primera fila: Nombre y Apellido -->
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label for="nombre" class="block text-sm font-medium text-white"
            >Nombre</label
          >
          <input
            id="nombre"
            name="nombre"
            type="text"
            placeholder="Nombre"
            class="p-4 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:focus:ring-neutral-600 autofill:pt-6 autofill:pb-2"
          />
        </div>
        <div>
          <label for="apellido" class="block text-sm font-medium text-white"
            >Apellido</label
          >
          <input
            id="apellido"
            name="apellido"
            type="text"
            placeholder="Apellido"
            class="p-4 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:focus:ring-neutral-600 autofill:pt-6 autofill:pb-2"
          />
        </div>
      </div>

      <!-- Segunda fila: Estado y Ciudad -->

      <CitiesSelect client:load />

      <!-- Tercera fila: Paquete y Modalidad -->
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label for="paquete" class="block text-sm font-medium text-white"
            >Paquete</label
          >
          <select
            id="paquete"
            name="paquete"
            class="p-4 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:focus:ring-neutral-600 autofill:pt-6 autofill:pb-2"
          >
            <option>Básico</option>
            <option>Premium</option>
            <option>Pro</option>
          </select>
        </div>
        <div>
          <label for="modalidad" class="block text-sm font-medium text-white"
            >Modalidad</label
          >
          <select
            id="modalidad"
            name="modalidad"
            class="p-4 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:focus:ring-neutral-600 autofill:pt-6 autofill:pb-2"
          >
            <option>Presencial</option>
            <option>Virtual</option>
          </select>
        </div>
      </div>

      <!-- Método de Contacto -->
      <div>
        <label for="metodoContacto" class="block text-sm font-medium text-white"
          >Método de Contacto</label
        >
        <select
          id="metodoContacto"
          name="metodoContacto"
          class="p-4 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:focus:ring-neutral-600 autofill:pt-6 autofill:pb-2"
        >
          <option>Correo Electrónico</option>
          <option>Teléfono</option>
          <option>WhatsApp</option>
        </select>
      </div>

      <!-- Información de Contacto -->
      <div>
        <label for="infoContacto" class="block text-sm font-medium text-white"
          >Información de Contacto</label
        >
        <input
          id="infoContacto"
          name="infoContacto"
          type="text"
          placeholder="Información de Contacto"
          class="p-4 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:focus:ring-neutral-600 autofill:pt-6 autofill:pb-2"
        />
      </div>

      <!-- Botón de Aceptar -->
      <div>
        <button
          type="submit"
          class="w-full py-3 px-4 bg-primary text-gray-300 font-semibold rounded-md shadow hover:bg-gray-600 transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
        >
          Aceptar
        </button>
      </div>
    </form>
  </div>
</section>
