---

---

<section class="w-full mx-auto min-h-[75vh] flex items-center justify-center">
  <main class="text-white text-center flex flex-col gap-4 w-full">
    <h1 class="text-5xl w-5/12 mx-auto font-titles font-black	 uppercase">
      Trabaja en el espacio ideal para crecer
    </h1>
    <p class="font-euphemia w-3/12 mx-auto">
      En Elsa Coworking, ofrecemos mucho más que oficinas. Únete a una comunidad
      profesional.
    </p>
  </main>
</section>
