---
---

<div class="relative w-full text-white  max-w-4xl mx-auto overflow-hidden">
    <div id="carousel" class="flex transition-transform duration-500">
        <div class="w-1/4 flex-shrink-0 p-6">
            <blockquote class="text-lg italic">"Great service and amazing quality! Highly recommend."</blockquote>
            <a href="#" class="text-primary hover:text-white mt-4 block text-right ">Ver Mas</a>
        </div>
        <div class="w-1/4 flex-shrink-0 p-6">
            <blockquote class="text-lg italic">"Great service and amazing quality! Highly recommend."</blockquote>
            <a href="#" class="text-primary hover:text-white mt-4 block text-right">Ver Mas</a>
        </div>
        <div class="w-1/4 flex-shrink-0 p-6">
            <blockquote class="text-lg italic">"Great service and amazing quality! Highly recommend."</blockquote>
            <a href="#" class="text-primary hover:text-white mt-4 block text-right">Ver Mas</a>
        </div>
        <div class="w-1/4 flex-shrink-0 p-6">
            <blockquote class="text-lg italic">"Great service and amazing quality! Highly recommend."</blockquote>
            <a href="#" class="text-primary hover:text-white mt-4 block text-right">Ver Mas</a>
        </div>
    </div>
  </div>
  