---
import TestimonialCards from "./testimonials/TestimonialCards.astro";

type TestimonialsCard = {
  message: string;
  name: string;
  from: string;
};

const test = {
  message: '"Great service and amazing quality! Highly recommend."',
  name: "Markus Koal",
  from: "Facebook",
};

const testimonials: Array<TestimonialsCard> = [test, test, test, test];
---

<div class="text-white bg-black min-h-[25vh] w-full">
  <div class="container flex mx-auto items-center h-full">
    {
      testimonials.map((testimonial: TestimonialsCard) => (
        <TestimonialCards
          name={testimonial.name}
          message={testimonial.message}
          from={testimonial.from}
        />
      ))
    }
  </div>
</div>
