<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Elsa Coworking</title>
  </head>
  <body class="min-h-screen">
    <style>
      @font-face {
        font-family: "Avenir";
        src: url("../fonts/Avenir\ Black.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Euphemia";
        src: url("../fonts/Euphemia\ UCAS\ Regular\ 2.6.6.ttf")
          format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
    </style>
    <slot />
  </body>
</html>
