---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <title>Elsa Coworking {title ? `| ${title}` : ""}</title>
  </head>
  <body>
    <style>
      @font-face {
        font-family: "Avenir";
        src: url("../fonts/AvenirBlack.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Euphemia";
        src: url("../fonts/EuphemiaUCASRegular.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      input {
        -webkit-appearance: none;
        -webkit-user-select: text; /* Chrome, Opera, Safari */
        -moz-user-select: text; /* Firefox 2+ */
        -ms-user-select: text; /* IE 10+ */
        user-select: text; /* Standard syntax */
      }

      .ProseMirror {
        padding-inline: 4rem;
      }

      .ProseMirror > * + * {
        margin-top: 0.75em;
      }

      .ProseMirror [data-id] {
        border: 3px solid #0d0d0d;
        border-radius: 0.5rem;
        margin: 1rem 0;
        position: relative;
        margin-top: 1.5rem;
        padding: 2rem 1rem 1rem;
      }

      .ProseMirror [data-id]::before {
        content: attr(data-id);
        background-color: #0d0d0d;
        font-size: 0.6rem;
        letter-spacing: 1px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        position: absolute;
        top: 0;
        padding: 0.25rem 0.75rem;
        border-radius: 0 0 0.5rem 0.5rem;
      }

      .drag-handle {
        align-items: center;
        background: #f0f0f0;
        border-radius: 0.25rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        cursor: grab;
        display: flex;
        height: 1.5rem;
        justify-content: center;
        width: 1.5rem;
      }

      .drag-handle svg {
        width: 1.25rem;
        height: 1.25rem;
      }
    </style>
    <slot />
  </body>
</html>
