---
const { question, answer } = Astro.props;
---

<div
  class="space-y-4 w-full sm:w-8/12 mt-5 mx-auto transition-shadow ease-in-out duration-700"
>
  <details
    class="group border-s-4 border-primary bg-gray-50 p-6 [&_summary::-webkit-details-marker]:hidden"
  >
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5"
      aria-labelledby="question-summary"
    >
      <h2 id="question-summary" class="text-lg font-medium text-gray-900">
        {question}
      </h2>
      <span class="shrink-0 rounded-full bg-white p-1.5 text-gray-900 sm:p-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-5 shrink-0 transition-transform duration-300 group-open:-rotate-45"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
            clip-rule="evenodd"></path>
        </svg>
      </span>
    </summary>
    <p
      class="mt-4 leading-relaxed text-gray-700 overflow-hidden max-h-0 opacity-0 transition-all duration-500 ease-in-out group-open:max-h-96 group-open:opacity-100"
    >
      {answer}
    </p>
  </details>
</div>
