---

---

<footer class="bg-black text-white w-full min-h-[40vh] mx-auto">
  <div class="border w-[1240px] mx-auto">
    <section class="">
      <h3 class="text-lg">hola mundo</h3>
    </section>
    <section>
      <ul class="text-xs">
        <li>Legal</li>
        <li>Privacy</li>
        <li>Contact</li>
      </ul>
    </section>
  </div>
</footer>
