---

---

<footer class="bg-purple-200 w-full min-h-[150px] mx-auto grid grid-cols-3 p-3">
  <section class="col-span-2">
    <h3 class="text-lg">hola mundo</h3>
  </section>
  <section>
    <ul class="text-xs">
      <li>Legal</li>
      <li>Privacy</li>
      <li>Contact</li>
    </ul>
  </section>
</footer>
