---

---

<footer class="bg-black text-white w-full mx-auto py-8">
  <div class="container mx-auto grid grid-cols-2 grid-rows-2 md:grid-cols-6 gap-8 px-4">
    <!-- Sección: Mapa -->
    <section class="col-span-2 row-span-2">
      <h3 class="text-lg font-semibold mb-4">Visítanos</h3>
      <div
        class="aspect-w-16 aspect-h-9 h-full bg-gray-800 rounded-md overflow-hidden"
      >
        <iframe
          class="w-full h-full"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d589.2597955252121!2d-110.33430049430083!3d24.12769019908272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86afd49dcf5aaf9d%3A0x6489b40b1e5d64f8!2sElsa%20Coworking!5e0!3m2!1ses-419!2sus!4v1734813150778!5m2!1ses-419!2sus"
          frameborder="0"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"></iframe>
      </div>
    </section>

    <!-- Sección: Contacto -->
    <section class="col-span-2">
      <h3 class="text-lg font-semibold mb-4">Contacto</h3>
      <p>
        C. Valentín Gómez Farías 17<br> 
        Puesta del Sol, 23090 <br> 
        La Paz, B.C.S.
      </p>
      <p class="text-sm">
        <a
          href="mailto:support@elsa-coworking.io"
          class="text-blue-400 hover:underline"
        >
          support@elsa-coworking.io
        </a>
      </p>
      <p class="text-sm mt-2">
        <a href="tel:6121218793" class="text-blue-400 hover:underline">
          +52 (612) 121-8793
        </a>
      </p>
    </section>
    <!-- Seccion: Horarios -->
     <section class="col-span-2">
      <h3 class="text-lg font-semibold mb-4">Horarios</h3>
      <ul>
        <li class="flex justify-between">
          Lun-Vi:
          <div class="flex flex-wrap w-8/12">
            <span>9:00am - 14:00pm</span>
            <span>16:00am - 20:00pm</span>
          </div>
        </li>
        <li class="flex justify-between">
          Sab-Dom:
          <div class="flex flex-wrap w-8/12">
            <span>Cerrado</span>
          </div>
        </li> 
      </ul>
     </section>
    <!-- Sección: Links -->
    <section class="col-span-2">
      <h3 class="text-lg font-semibold mb-4">Quick Links</h3>
      <ul class="space-y-2 text-sm">
        <li><a href="#" class="hover:underline">Sobre Nosotros</a></li>
        <li><a href="#" class="hover:underline">Servicios</a></li>
        <li><a href="#" class="hover:underline">Blog</a></li>
      </ul>
    </section>

    <!-- Sección: Legal -->
    <section class="col-span-2">
      <h3 class="text-lg font-semibold mb-4">Legal</h3>
      <ul class="space-y-2 text-sm">
        <li><a href="#" class="hover:underline">Privacy Policy</a></li>
        <li><a href="#" class="hover:underline">Terms & Conditions</a></li>
      </ul>
    </section>
  </div>

  <div class="border-t mt-20 border-gray-700 mt-8 pt-4 text-center text-sm">
    <p>© 2024 Copyright, All Rights Reserved, Made with ❤️ by ChoyaTech</p>
    <div class="flex justify-center space-x-4 mt-2">
      <a href="#" class="hover:text-gray-400"><i class="fab fa-twitter"></i></a>
      <a href="#" class="hover:text-gray-400"><i class="fab fa-facebook"></i></a
      >
      <a href="#" class="hover:text-gray-400"
        ><i class="fab fa-instagram"></i></a
      >
      <a href="#" class="hover:text-gray-400"><i class="fab fa-linkedin"></i></a
      >
    </div>
  </div>
</footer>
