---

---

<header class="flex justify-between w-full mx-auto py-4 p-2 bg-blue-300">
  <section>
    <img src="/astro.svg" alt="" />
  </section>
  <nav>
    <ul class="flex gap-5 h-full items-center">
      <li>home</li>
      <li>about us</li>
      <li>contact us</li>
    </ul>
  </nav>
</header>
