---

---

<header class="container flex justify-between w-full mx-auto py-4 p-2 ">
  <section>
    <a href=""><img class="w-full" src="/h-dealer-logo-white.svg" alt="" /></a>
  </section>
  <nav>
    <ul class="flex gap-5 h-full items-center text-white">
      <li class="hover:opacity-50"><a href="/">Inicio</a></li>
      <li class="hover:opacity-50"><a href="/sobre-nosotros">Sobre Nosotros</a></li>
      <li class="hover:opacity-50"><a href="/servicios">Servicios</a></li>
      <li class="hover:opacity-50"><a href="/blog">Blog</a></li>
    </ul>
  </nav>
</header>
