---

---

<header class="container h-fit flex justify-between w-full mx-auto p-4">
  <section>
    <a href=""><img class="w-full" src="/h-dealer-logo-white.svg" alt="" /></a>
  </section>
  <nav>
    <ul class="flex gap-5 h-full items-center text-white">
      <li class="hover:border-primary border-b-2 border-transparent">
        <a href="/">Inicio</a>
      </li>
      <li class="hover:border-primary border-b-2 border-transparent">
        <a href="/sobre-nosotros">Sobre Nosotros</a>
      </li>
      <li class="hover:border-primary border-b-2 border-transparent">
        <a href="/servicios">Servicios</a>
      </li>
      <li class="hover:border-primary border-b-2 border-transparent">
        <a href="/blog">Blog</a>
      </li>
    </ul>
  </nav>
</header>
