---
import Layout from "@/src/core/Layout.astro";
import Caption from "./_components/Caption.astro";
import GridButton from "./_components/GridButton.astro";

const { user } = Astro.locals;

if (!user) {
  return Astro.redirect("/admin/login");
}

const gridButtons = [
  {
    href: "/blog/new",
    icon: "fas fa-pencil-alt",
    text: "Escribir Blog",
  },
  {
    href: "/admin/applications",
    icon: "fas fa-user-plus",
    text: "Ver Solicitudes",
  },
  {
    href: "/admin/clients",
    icon: "fas fa-users",
    text: "Gestionar Clientes",
  },
  {
    href: "/admin/calendar",
    icon: "fas fa-calendar-alt",
    text: "Calendario",
  },
];
---

<Layout>
  <main
    class="flex flex-col min-h-[85vh] md:w-6/12 mx-auto items-center justify-center pt-12"
  >
    <h1 class="text-3xl">Panel de Control</h1>
    <p class="text-sm text-gray-600 mb-4 text-center">
      Bienvenido al panel de administración. Gestiona todos los aspectos del
      sitio.
    </p>
    <div class="grid grid-cols-3 gap-3 w-full">
      {gridButtons.map(button => <GridButton {...button} />)}
    </div>
    <a
      href="/admin/logout"
      class="inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 mt-auto mb-0"
    >
      <i class="fas fa-sign-out-alt mr-2"></i>
      Cerrar sesión
    </a>
    <Caption />
  </main>
</Layout>
