---
import Layout from "@/src/core/Layout.astro";
import Button from "./_components/Button.astro";
import Caption from "./_components/Caption.astro";

const { user } = Astro.locals;

if (!user) {
  return Astro.redirect("/admin/login");
}
---

<Layout>
  <main
    class="flex flex-col min-h-[85vh] md:w-6/12 mx-auto items-center justify-center pt-12"
  >
    <h1 class="text-3xl">Panel de Control</h1>
    <p class="text-sm text-gray-600 mb-4 text-center">
      Bienvenido al panel de administración. Gestiona todos los aspectos del
      sitio.
    </p>
    <div class="grid grid-cols-3 gap-3 w-full">
      <a
        href="/blog/new"
        class="bg-white border border-gray-200 hover:bg-neutral-50 cursor-pointer transition-all duration-300 p-4 flex flex-col items-center gap-2"
      >
        <div class="w-12 h-12 rounded-full flex items-center justify-center">
          <i class="fas fa-pencil-alt text-gray-400 text-xl"></i>
        </div>
        <span class="text-sm font-medium text-gray-900">Escribir Blog</span>
      </a>
      <a
        href="/admin/requests"
        class="bg-white border border-gray-200 hover:bg-neutral-50 cursor-pointer transition-all duration-300 p-4 flex flex-col items-center gap-2"
      >
        <div class="w-12 h-12 rounded-full flex items-center justify-center">
          <i class="fas fa-user-plus text-gray-400 text-xl"></i>
        </div>
        <span class="text-sm font-medium text-gray-900">Ver Solicitudes</span>
      </a>
      <a
        href="/admin/clients"
        class="bg-white border border-gray-200 hover:bg-neutral-50 cursor-pointer transition-all duration-300 p-4 flex flex-col items-center gap-2"
      >
        <div class="w-12 h-12 rounded-full flex items-center justify-center">
          <i class="fas fa-users text-gray-400 text-xl"></i>
        </div>
        <span class="text-sm font-medium text-gray-900">Gestionar Clientes</span
        >
      </a>
      <a
        href="/admin/logout"
        class="bg-white border border-gray-200 hover:bg-neutral-50 cursor-pointer transition-all duration-300 p-4 flex flex-col items-center gap-2"
      >
        <div class="w-12 h-12 rounded-full flex items-center justify-center">
          <i class="fas fa-sign-out-alt text-gray-400 text-xl"></i>
        </div>
        <span class="text-sm font-medium text-gray-900">Cerrar sesión</span>
      </a>
    </div>
    <Caption />
  </main>
</Layout>
